body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  font-family: Arial, sans-serif;
  margin-left: 40px;
  }

  a {
    color: #555;
    text-decoration: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: -60px;
  }

  .image, #img {
    width: 400px;
    height: auto;
    max-width: 100%;
    margin-left: -60px;
    margin-bottom: -35px;
  }

  .text {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
  }