html, body
{
    height: 100%;
    margin:0;
    padding:0;
}

body{
    background-image: url("../img/sfondo.jpg");
    background-size: cover;
}

#logo {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    height: 150px;
    width:auto;
    opacity: 50%;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

#logo:hover{
  opacity: 100%
}
