html, body
{
    height: 100%;
    margin:0;
    padding:0;
}

body{
    background-image: url("../img/sfondo.jpg");
    background-size: cover;
}

#logo {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    height: 100px;
    width:auto;
}
